<div class="main3">
    <div class="titulo">
        <h3> Indicadores de Desempeño Individual </h3>
    </div>
    <div class="indices">
        <div class="tecnologia">
            <div class="pie animate no-round" style="--p:69;--c:orange;"> 69%</div>
            <h5>Html</h5>
        </div>
        <div class="tecnologia">
            <div class="pie animate no-round" style="--p:77;--c:rgb(10, 136, 240);"> 77%</div>
            <h5>Css</h5>
        </div>
        <div class="tecnologia">
            <div class="pie animate no-round" style="--p:47;--c:yellow;"> 47%</div>
            <h5>Javascript</h5>
        </div>
        <div class="tecnologia">
            <div class="pie animate no-round" style="--p:55;--c:rgb(255, 238, 0);"> 55%</div>
            <h5>Python</h5>
        </div>
        <div class="tecnologia">
            <div class="pie animate no-round" style="--p:17;--c:red;"> 17%</div>
            <h5>Ruby</h5>
        </div>
        <div class="tecnologia">
            <div class="pie animate no-round" style="--p:10;--c:blue;"> 10%</div>
            <h5>C #</h5>
        </div>
        <div class="tecnologia">
            <div class="pie animate no-round" style="--p:11;--c:rgb(94, 255, 0);"> 11%</div>
            <h5>Github</h5>
        </div>
        <div class="tecnologia">
            <div class="pie animate no-round" style="--p:45;--c:rgb(3, 10, 77);"> 45%</div>
            <h5>Node.js</h5>
        </div>
        <div class="tecnologia">
          <div class="pie animate no-round" style="--p:18;--c:rgb(131, 6, 16);"> 18%</div>
          <h5>Angular</h5>
      </div>
        <div class="tecnologia">
            <div class="pie animate no-round" style="--p:20;--c:rgb(14, 54, 6);"> 20%</div>
            <h5>Django</h5>
        </div>
        <div class="tecnologia">
            <div class="pie animate no-round" style="--p:22;--c:orange;"> 22%</div>
            <h5>MySQL</h5>
        </div>
    </div>
</div>
