/* ********** Barra de Navegación *********** */
#nav-bar {
  width: 98%;
  height: 8vh;
  position:relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #000030;
  color: #ffff;
  font-family: Helvetica;
  font-size:1.5em;
  border-radius: 0.3em;
  margin: 1em 0.5em 0.6em 0.8em;
  box-shadow: 5px 10px 10px #AEAEAE;
}

.logo {
  width: 70%;
  display: flex;
  padding:0 2em;
}

.logo p {
  font-size: 1.5em;
  display: flex;
  margin:0.2em;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191,
               1px 3px 1px #919191, 1px 4px 1px #919191;
  animation-duration: 3s;
  animation-name: slidein0;
}

@keyframes slidein0 {

  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.rrss {
  display: flex;
  margin: 0 1.5em;
  padding:0 0.2em;
}

.rrss p {
  display: flex;
  margin: 0.5em;

}

input[type=submit] {
  width: 5em;
  height: 2em;
  font-size: 0.6em;
  font-weight: bold;
  color: #fff;
  background: #00FF;
  border-radius: 0.5em;
  border: 1px solid #66add6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
  cursor: pointer;
  margin: 0.9em 0.5em;
  transition: transform .3s; /* Animation */
}

input[type=submit]:hover {
  transform: scale(1.4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
