
<div id="nav-bar">
    <div class="logo">
      <p><i>José Luis Galvis Escobar</i></p>
    </div>
    <div class="rrss">
      <p><a class="rt-social-button-4" href="https://www.facebook.com" target="_blank" rel="noopener"><i class='fa fa-facebook' style='color: white'></i></a></p>
      <p><a class="rt-social-button-3" href="https://www.instagram.com/" target="_blank" rel="noopener"><i class='fa fa-instagram' style='color: white'></i></a></p>
      <p><a class="social-button rt-social-button-5" href="https://twitter.com" target="_blank" rel="noopener"><i class='fa fa-twitter' style='color: white'></i></a></p>
      <input id="button" type="submit" value="Login">
    </div>
</div>
