<div class="main4">
  <h2> Proyectos (No Responsive)</h2>
  <div class="container">
      <div class="section1">
           <!-- 1 -->
           <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="../assets/p1.jpg" alt="Avatar" class="image">
                </div>
                <div class="flip-box-back">
                    <div class="text">
                        <h3>Proyecto N° 1</h3>
                        <p>Pequeña Historia de la Arepa</p>
                    </div>
                </div>
            </div>
            <form action="https://joseluisgalvis.github.io/Proyecto_1/" target="_blank">
                <input type="submit" value="Conoce el Proyecto N° 1"/>
            </form>
        </div>
        <!-- 2 -->
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="../assets/p2.jpg" alt="Avatar" class="image">
                </div>
                <div class="flip-box-back">
                    <div class="text">
                        <h3>Proyecto N° 2</h3>
                        <p>Conversor <br> de Kilometros a Millas</p>
                    </div>
                </div>
            </div>
            <form action="https://joseluisgalvis.github.io/2do-Proyecto/" target="_blank">
                <input type="submit" value="Conoce el Proyecto N° 2"/>
            </form>
        </div>
        <!-- 3 -->
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="../assets/p3.jpg" alt="Avatar" class="image">
                </div>
                <div class="flip-box-back">
                    <div class="text">
                        <h3>Proyecto N° 3</h3>
                        <p>Vamos de Paseo <br> con Yrsa Bello</p>
                    </div>
                </div>
            </div>
            <form action="https://joseluisgalvis.github.io/3er-Proyecto/" target="_blank">
                <input type="submit" value="Conoce el Proyecto N° 3"/>
            </form>
        </div>
        <!-- 4 -->
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="../assets/p4.jpg" alt="Avatar" class="image">
                </div>
                <div class="flip-box-back">
                    <div class="text">
                        <h3>Proyecto N° 4</h3>
                        <p>Fórmula 1</p>
                    </div>
                </div>
            </div>
            <form action="https://joseluisgalvis.github.io/Proyecto-4to/" target="_blank">
                <input type="submit" value="Conoce el Proyecto N° 4"/>
            </form>
        </div>
        <!-- 5 -->
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="../assets/p5.jpg" alt="Avatar" class="image">
                </div>
                <div class="flip-box-back">
                    <div class="text">
                        <h3>Proyecto N° 5</h3>
                        <p>Página Web de Cumpleaños</p>
                    </div>
                </div>
            </div>
            <form action="https://joseluisgalvis.github.io/Proyecto-5to/" target="_blank">
                <input type="submit" value="Conoce el Proyecto N° 5"/>
            </form>
        </div>
        <!-- 6 -->
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="../assets/p6.jpg" alt="Avatar" class="image">
                </div>
                <div class="flip-box-back">
                    <div class="text">
                        <h3>Proyecto N° 6</h3>
                        <p>Burger Menú</p>
                    </div>
                </div>
            </div>
            <form action="https://hamburguesa.joseluisgalvis.repl.co/" target="_blank">
                <input type="submit" value="Conoce el Proyecto N° 6"/>
            </form>
        </div>
        <!-- 7 -->
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="../assets/p7.jpg" alt="Avatar" class="image">
                </div>
                <div class="flip-box-back">
                    <div class="text">
                        <h3>Proyecto N° 7</h3>
                        <p>Cumpleaños de Juan José</p>
                    </div>
                </div>
            </div>
            <form action="https://joseluisgalvis.github.io/Proyecto-7mo/" target="_blank">
                <input type="submit" value="Conoce el Proyecto N° 7"/>
            </form>
        </div>
        <!-- 8 -->
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="../assets/p8.jpg" alt="Avatar" class="image">
                </div>
                <div class="flip-box-back">
                    <div class="text">
                        <h3>Proyecto N° 8</h3>
                        <p>Día de la <br> Independencia de Argentina</p>
                    </div>
                </div>
            </div>
            <form action="https://joseluisgalvis.github.io/Proyecto-8vo/" target="_blank">
                <input type="submit" value="Conoce el Proyecto N° 8"/>
            </form>
        </div>
        <!-- 9 -->
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="../assets/p9.jpg" alt="Avatar" class="image">
                </div>
                <div class="flip-box-back">
                    <div class="text">
                        <h3>Proyecto N° 9</h3>
                        <p>Cierre del Curso <br> Codo a Codo 4.0</p>
                    </div>
                </div>
            </div>
            <form action="https://joseluisgalvis.github.io/Proyecto-9vno/" target="_blank">
                <input type="submit" value="Conoce el Proyecto N° 9"/>
            </form>
        </div>
        <!-- 10 -->
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="../assets/p10.jpg" alt="Avatar" class="image">
                </div>
                <div class="flip-box-back">
                    <div class="text">
                        <h3>Proyecto N° 10</h3>
                        <p>La Vinoteca</p>
                    </div>
                </div>
            </div>
            <form action="https://vinos.joseluisgalvis.repl.co/" target="_blank">
                <input type="submit" value="Conoce el Proyecto N° 10"/>
            </form>
        </div>
        <!-- 11 -->
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="../assets/p11.jpg" alt="Avatar" class="image">
                </div>
                <div class="flip-box-back">
                    <div class="text">
                        <h3>Proyecto N° 11</h3>
                        <p>Curso Básico de Python</p>
                    </div>
                </div>
            </div>
            <form action="https://curso-basico-python.joseluisgalvis.repl.co/" target="_blank">
                <input type="submit" value="Conoce el Proyecto N° 11"/>
            </form>
        </div>
        <!-- 12 -->
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="../assets/p12.jpg" alt="Avatar" class="image">
                </div>
                <div class="flip-box-back">
                    <div class="text">
                        <h3>Proyecto N° 12</h3>
                        <p>Full Stack Developer</p>
                    </div>
                </div>
            </div>
            <form action="https://full-stack.joseluisgalvis.repl.co/" target="_blank">
                <input type="submit" value="Conoce el Proyecto N° 12"/>
            </form>
        </div>
    </div>
  </div>
</div>
