<div class="main">
  <div class="top">
    <img src="../assets/fondo-AP3.jpg" alt="">
  </div>
  <div class="logo_AP">
    <img src="../assets/logo_AP.jpg" alt="">
  </div>
  <div class="pic" id="profile_pic">
    <img src="../assets/foto_JLGE.jpg" alt="">
  </div>
  <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pencil"></i></a></div>
  <div class="bottom">
      <h3>{{name}}</h3>
      <p>{{role}}</p>
      <p>{{address}} <a href="https://www.linkedin.com/in/jos%C3%A9-luis-galvis-escobar-1344821a2/" target="_blank">  Información de Contacto</a></p>
      <div class="botones">
          <button class="btn">
              <p> Tengo Interés en... </p>
          </button>
          <button class="btn1">
              <p> Añadir Sección </p>
          </button>
          <button class="btn1">
              <p> Más </p>
          </button>
      </div>
  </div>
</div>
