<div class="main2">
  <div class="titulo">
      <div class="btn-edit1"><a href="#" class="btn-right1"><i class="fa fa-plus"></i></a></div>
      <h3> Experiencia </h3>
      <div class="btn-edit2"><a href="#" class="btn-right2"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
      <div class="btn-edit3"><a href="#" class="btn-right3"><i class="fa fa-trash"></i></a></div>
      <div class="resumen">
          <div class="firstLine"><h4>{{role}}</h4><p> {{date1}} </p></div>
          <p>{{address1}}</p>
      </div>
  </div>
  <div class="titulo">
      <div class="btn-edit4"><a href="#" class="btn-right1"><i class="fa fa-plus"></i></a></div>
      <h3> Educación </h3>
      <div class="btn-edit5"><a href="#" class="btn-right2"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
      <div class="btn-edit6"><a href="#" class="btn-right3"><i class="fa fa-trash"></i></a></div>
      <div class="resumen">
        <div class="firstLine"><h4>{{studies}}</h4><p>{{date2}}</p></div>
          <p>{{address2}}</p>
      </div>
  </div>
</div>
